<!-- 
This file is a part of the University Review System project.
https://github.com/miloszwielgus/university-review-system
Please acknowledge the original authors if you use or modify this code.
-->
{% extends "base.html" %} {% block title %}About{% endblock %} {% block content %}
<head>
<style>
    .button {
            background-color: #026773;
            border: none;
            color: #ffffff;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: -15px 2px;
            cursor: pointer;
            border-radius: 16px;
        }
</style>
</head>
<body>
  <div class="bg-custom"></div>
  <div class="top-strip">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">

      <path fill="#3CA6A6" fill-opacity="1" d="M0,256L48,224C96,192,192,128,288,133.3C384,139,480,213,576,202.7C672,192,768,96,864,96C960,96,1056,192,1152,229.3C1248,267,1344,245,1392,234.7L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
      </svg>
      <h1>Myśli Studenta</h1>
  </div>

  <div class="info">
    <p>
      <span class="uppercase">DLA KOGO?</span><br>
      Jeśli jesteś po maturze i chcesz studiować, jeśli chcesz zmienić kierunek lub zacząć kolejny to ta strona jest właśnie dla ciebie!
    </p>
    <p>
      Zdecydowaliśmy o stworzeniu naszej strony z myślą o takich osobach jak Ty. Rozumiemy twoje dylematy i dlatego stworzyliśmy Myśli Studenta - miejsce, które pomoże Ci wybrać TWÓJ kierunek.
    </p>
    <p>
      <span class="uppercase">CO TU ZNAJDZIESZ</span><br>
      Znajdziesz tutaj bazę uczelni i kierunków z całej Polski. Są one oceniane przez swoich absolwentów. Możesz je porównywać między sobą. Zobaczysz jaki tytuł uzyskasz po danym kierunku, jaką dostał średnią ocenę, ile osób go oceniło. Nie musisz już osobno szukać strony internetowej każdej uczelni - podlinkowaliśmy je za ciebie!
    </p>
    <p>
      Wybór studiów nie musi być trudny! Dołącz do Myśli Studenta
    </p>
    <p>
      <span class="uppercase">ABSOLWENCIE!</span><br>
      Jesteś absolwentem studiów w Polsce? Jeśli tak to zapraszamy cię do zostawienia swojej opinii. Każdy punkt widzenia jest ważny. Niezależnie od tego, czy uważasz, że twój kierunek był przeciętny, beznadziejny lub wyjątkowy, zachęcamy Cię do zostawienia swojej opinii.
    </p>
  </div>

  <div class="video">
          <iframe width="800" height="450" src="https://www.youtube.com/embed/VdD_rum_BW8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


  <h1 style = "color: #026773;">Zadaj pytanie</h1>
    <form id="ask_question" method="post" action="/send_question">
        <label for="email" style = "color: #026773;">Podaj swój email:</label><br>
        <input type="email" id="email" name="email" required placeholder="Twój adres e-mail"><br><br>
        <label for="question-text" style = "color: #026773;">Pytanie:</label><br>
        <textarea id="question-text" name="question" rows="4" cols="50" required placeholder="Twoje pytanie"></textarea><br><br>
        <input class = button type="submit" value="Zadaj pytanie" name="submit-button" id="submit-button">
    </form>

 <link href="/static/style.css" rel="stylesheet" />
</body>
{%endblock%}
