{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<head>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="text-center text-muted">Dynamic dropdowns</h1>
    </div>

    <br /><br /><br />

    <div class="row">
      <div class="form-group col-xs-6">
        <label for="all_classes">Wybierz miasto</label>
        <select
          class="form-control"
          style="color: white; background: #34568b"
          id="all_classes"
        >
          {% for o in all_classes %}
          <option value="{{ o }}">{{ o }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-xs-6">
        <label for="all_entries">Wybierz uczelnię</label>
        <select
          class="form-control"
          style="color: white; background: #009b77"
          id="all_entries"
        >
          {% for o in all_entries %}
          <option value="{{ o }}">{{ o }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div>
      <button
        type="button"
        style="color: white; background: #3498db"
        id="process_input"
      >
        Process selection!
      </button>
    </div>
    <br /><br />
    <div id="processed_results">
      Here we display some output based on the selection
    </div>
  </div>
  <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#all_classes").on('change', function () {
        jQuery.getJSON("{{ url_for('views.update_dropdown') }}", {
          selected_class: $("#all_classes").val(),
        }).done(function (selected_class) {
          $("#all_entries").html(selected_class.html_string_selected);
        }).fail(function(jqXHR, textStatus, errorThrown) {
        });
      });
      $("#process_input").bind("click", function () {
        jQuery.getJSON("{{ url_for('views.process_data') }}", {
          selected_class: $("#all_classes").val(),
          selected_entry: $("#all_entries").val(),
        }).done(function (data) {
          $("#processed_results").text(data.random_text);
        });
        return false;
      });
    });
  </script>
</body>
{%endblock%}
