{% extends "base.html" %}

{% block title %}Lista uniwersytetów{% endblock %}

{% block content %}
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="text-center" style="color: #024959">Lista uniwersytetów</h1>
    </div>

    <br /><br /><br />

    <div class="row">
      <div>
        <label for="all_cities" style="color:#024959;">Wybierz miasto</label>
        <select class="js-example-basic-multiple" name="all_cities[]" multiple="multiple" style="width: 90%" id="all_cities">
          {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div>
      <br /><br />
      <button type="button" id="process_input"  class="move-button" >Pokaż uniwersytety!</button>
    </div>

  </div>

  <div class="list-group" id="uni_list">
    {% for university in universities %}
      <div class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            <a href="{{ url_for('views.university', university_name=university.university_name) }}">
              {{ university.university_name }}
            </a>
          </h5>
        </div>
        <p class="mb-1">Miasto: {{ university.location }}</p>
        <p class="mb-1">Strona internetowa: <a style="color:black;" href="{{ university.website }}">{{ university.website }}</a></p>
      </div>
    {% endfor %}
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
  $("#all_cities").select2();
  $("#process_input").on("click", function () {
    jQuery.getJSON("{{ url_for('views.update_university_list') }}", {
      selected_city: JSON.stringify($("#all_cities").val()),
      selected_university: JSON.stringify([]),
    })
      .done(function (selected_city) {
        $("#uni_list").html(selected_city.html_string_selected);
      });
    return false;
  });
});

  </script>
<link href="static/style.css" rel="stylesheet" />
</body>
{% endblock %}
