{% extends "base.html" %}
{% block title %}University Template{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>University Template</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
 
    <div class="centered-blue">
        <h1>{{ university_name }}</h1>
        <p><a href="{{ website }}">{{ website }}</a></p>

        <h2>Zapoznaj się z opiniami dla poszczególnych kierunków:</h2>

        <div class="list-group" id="course_list">
            {% for course in courses %}
            <a href="/university/course/{{course.course_name}}" class="list-group-item list-group-item-action flex-column align-items-start active">
             <div class="d-flex w-100 justify-content-between">
               <h5  class="mb-1">{{course.course_name}}</h5>
               <small>{{ university_name }}</small>
             </div>
             <p class="mb-1">Tytuł: {{course.degree}}</p>
             <small>Typ: {{course.cycle}}</small>
           </a>
            {% endfor %}
           </div>


    </div>
    
    <footer>
        <p>&copy; University review system. All rights reserved.</p>
    </footer>
</body>
</html>

{% endblock %}