/* style.css */


body {
  background-color: white;
}

.row-text-center {
  display: flex;
  justify-content: center;
}

.comparison-page {
  margin-right: 10px;
  margin-left: 10px;
  width: 50%;
  font-size: 16px;
  color: #024959;
}

.button-compare button{
  position: relative;
  top: 15px;
  /* Adjust the value as per your requirement */
  right: -500px;
  /* Adjust the value as per your requirement */
  background-color: #026773;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;

}
.row-comparision-page label{
  font-size: 16px;
  color: #024959;
  font-family: Arial, sans-serif;
  position: center;

}

.row label{
  font-size: 20px;
  color: #024959;
  font-family: Arial, sans-serif;

}

.row h3{
  font-size: 20px;
  color: #024959;
  font-family: Arial, sans-serif;

}
/* Override font style for the select elements */
.select2-container .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #441ea4;
}

/* Override font style for the button */
#process_input {
  font-family: HelveticaNeue, arial;
  font-size: 14px;
  color: white;
  background: #024959;
  border-radius: 20px;
  border: 2px solid #024959;
  padding: 10px 20px;
}

/* Override font style for the course list items */
.list-group-item h5 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: #f9f2e9;
  font-weight: bold;
  color: #024959;
}

.list-group-item small {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: #f9f2e9;
  ;
  color: #026773;
}

.list-group-item p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #f9f2e9;
  ;
  color: #3CA6A6;
}

.list-group-item a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #f9f2e9;
  ;
  color: #3CA6A6;
}

.list-group-item {

  background-color: #f9f2e9;

}

.list-group {
  background-color: #f9f2e9;
  margin-top: 20px;
}

.list-group-item.active {
  background-color:  #f9f2e9;
  color: #fff;
}


#login-form button {

  background-color: #026773;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#login-form button:hover {

  background-color: #026773;
}

.bg-custom {
  background-color: #026773;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f9f2e9;
}


.move-button {
  position: relative;
  top: -10px;
  /* Adjust the value as per your requirement */
  right: 10px;
  /* Adjust the value as per your requirement */
}

.list-group-item h5:hover {
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: #f9f2e9;
  font-weight: bold;
  color: #024959;
}

.list-group-item small:hover {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: #f9f2e9;
  ;
  color: #026773;
}

.list-group-item p:hover {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #f9f2e9;
  ;
  color: #3CA6A6;
}

.list-group-item a:hover {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #f9f2e9;
  ;
  color: #3CA6A6;
}

.list-group-item:hover {

  background-color: #f9f2e9;

}

.list-group:hover {
  background-color: #f9f2e9;
  margin-top: 20px;
}

.list-group-item.active:hover {
  background-color:  #f9f2e9;
  color: #fff;
}
